.Banner{
    margin-top: 0;
    border-radius: 0px 0px 830px 0px;
    border-bottom: 10px solid rgb(201, 0, 0);
    width: 100%;
}
header{
    position: absolute;
    margin: 7px;
    margin-top: -0.2%;
    margin-left: 1%;
    background:rgba(165, 5, 5, 0);
    width: 99%;
    box-sizing: border-box;
}
header .Logo{
    display:none;
}
header nav{
    float: left;
    width: 99%;
    margin-left: 1%;
}
header nav ul{
    margin: 0px;
    padding: 0;
    display: flex;
    width: 100%;
}
header nav ul li{
    list-style: none;
    position: relative;
    padding-right: 5%;
    margin-top: 0.69%;

}

header nav ul li ul{
    position: absolute;
    left: 0;
    background-color:rgba(0,0,0,0.52);
    display: none;
}
header nav ul li:hover ul{
    display: block;
    margin-left: -20pt;
}
header nav ul li ul li{
    display: block;
    width: 100%;
    margin-top: 6.6%;
    margin-bottom: 6.6%;
}

header nav ul li ul li a{
    padding: 0px 0px;
    min-width: 160px;
    text-align: center;
}
header nav.active{
    left: 0;
}

header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 1.1vw;
    font-family: 'Formula1';
    transition: all .2s ease-in-out; 
    text-shadow: 0 0 3px red;
}
header nav ul li a:hover{
    transform: scale(1.15);
    text-decoration: underline;
    text-decoration-color: rgb(139, 139, 139);
}

.menu-tog{
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 800px){
    header{
        padding: 0 20px;
        margin: 0;
        margin-top: -4px;
        background-image: url("../imagini/F1_banner.jpg");
        width: 100%;
    }
    .Banner{
        display: none;
    }
    .menu-tog{
        display: block;
        margin-top: 2%;
    }
    header nav{
        position: absolute;
        width: 100%;
        margin-left: 0%;
        height: calc(auto - 50px);
        background:rgba(165, 5, 5, 0.541);
        top: 65px;
        left: -100%;
        transition: 0.5s;
        z-index: 99;
    }
    header nav.active{
        left: 0;
        color: white;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        float: left;
        font-weight: bold;
    }
    header .Logo{
        display: block;
        float: left;
        margin-top: 2.5%;
        font-family: 'Formula1';
        font-size: 20pt;
        color: white;
        height: 55px;
        text-align: center;

        text-shadow: 1px 2px 4px red;
    }
    header nav ul{
        display: block;
        text-align: left;
    }
    header nav ul li{
        padding-right: 0%;
        padding-left: 2%;
        margin-top: 0%;
        background-color: rgb(165, 5, 5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    header nav ul li:hover{
        background-color: rgb(97, 0, 0);
    }
    header nav ul li a{
        font-size: 20px;
    }
    header nav ul li a:hover{
        text-decoration: underline;
        transform: scale(1);
        text-decoration-color: rgb(139, 139, 139);
    }
    header nav ul li ul{
        position: relative;
        text-align: center;
        width: auto;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    header nav ul li ul li{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .tbody{
        padding-top: 12%;
    }
}
@font-face {
    font-family: Formula1;
    src: url(../Fonts/Formula1-Bold.otf);
 }
body{
    margin: 0px;
}
.tbody{
    margin-left: 12%;
    margin-right: 12%;
}
h2{
    font-family: 'Formula1';
    font-size: 3pc;
    margin-top: 1.7%;
    text-shadow: 0 0 3px red;
    margin-top: 2%;
    margin-bottom: -1%;
}
.gallery {
    border: 3px solid #ccc;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    display: flex;

}
.desc{
    width: 100%;
    margin-left: 9px;
}
  
.zoom:hover .gallery{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    
}
.gallery:hover, .desc:hover{
    background-color: black;
    border: 0px;
    color: white;
}

.image1{
    border-right: 9px solid;
    border-color: rgb(30, 218, 177);
    width: 100%;
    height: 100%;
}
.image2{
    border-right: 9px solid;
    border-color: rgb(204, 9, 9);
    width: 100%;
    height: 100%;
}
.image3{
    border-right: 9px solid;
    border-color: rgb(0, 3, 182);
    width: 100%;
    height: 100%;
}
.image4{
    border-right: 9px solid;
    border-color: rgb(231, 123, 0);
    width: 100%;
    height: 100%;
}
.image5{
    border-right: 9px solid;
    border-color: rgb(238, 255, 0);
    width: 100%;
    height: 100%;
}
.image6{
    border-right: 9px solid;
    border-color: rgb(253, 41, 190);
    width: 100%;
    height: 100%;
}
.image7{
    border-right: 9px solid;
    border-color: rgb(0, 135, 245);
    width: 100%;
    height: 100%;
}
.image8{
    border-right: 9px solid;
    border-color: rgb(134, 23, 19);
    width: 100%;
    height: 100%;
}
.image9{
    border-right: 9px solid;
    border-color: rgb(146, 98, 26);
    width: 100%;
    height: 100%;
}
.image10{
    border-right: 9px solid;
    border-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
.responsive-g{
    margin: 0.8%;
    margin-top: 4%;
    float: left;
    width: 100%;
    height: auto;
    
}

.Nume {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2.2%;
    margin-bottom: 5%;
    font-family: 'Formula1';
}
.Driver1 {
    margin-top: -6%;
    text-align: right;
    margin-right: 5%;
    font-size: 1.2vw;
    font-family: 'Formula1';
}
.Driver2 {
    text-align: right;
    margin-right: 5%;
    font-size: 1.2vw;
    font-family: 'Formula1';
    margin-bottom: 2.5%;
}
.Info {
    margin-left: 8%;
    margin-bottom: 1.5%;
    text-align: left;
    font-size: 0.95vw;
    font-family: 'Formula1';    
    color: rgb(90, 90, 90);
}
.Number {
    margin-right: 8%;
    margin-bottom: 1.5%;
    margin-top: -5.5%;
    text-align: right;
    font-size: 0.95vw;
    font-family: 'Formula1';    
    color: rgb(90, 90, 90);
}
.Sigla{
    width: 60%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10%;
}
@media only screen and (max-width: 800px ) {
    .gallery{
        display: block;
    }
    .image1{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(30, 218, 177);
    }
    .image2{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(204, 9, 9);
    }
    .image3{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(0, 3, 182);
    }
    .image4{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(231, 123, 0);
    }
    .image5{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(238, 255, 0);
    }
    .image6{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(253, 41, 190);
    }
    .image7{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(0, 135, 245);
    }
    .image8{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(134, 23, 19);
    }
    .image9{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(146, 98, 26);
    }
    .image10{
        border-bottom: 9px solid;
        border-right: 0px;
        border-color: rgb(255, 255, 255);
    }
    .Sigla{
        width: 35%;
        margin-left: 62.5%;
        margin-bottom: 1.6%;
        margin-top: -18.5%;
    }
    .Nume{
        font-size: 4vw;
        margin-top: 1.2%;
    }
    .desc{
        margin-left: 0px;
    }
    .Info{
        font-size: 2.4vw;
        margin-left: 5%;
        margin-top: 4%;

    }
    .Driver1{
        font-size: 3vw;
    }
    .Driver2{
        font-size: 3vw;
    }
    .Number{
        text-align: center;
        font-size: 2.4vw;
        margin-top: -5.5%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1100px){
    .tbody{
        margin-right: 5%;
        margin-left: 5%;
    }
    h2{
        font-size: 2.32pc;
    }
    .Sigla{
        width: 60%;
        margin-top: 18%;
    }
    .Driver1, .Driver2{
        text-align: right;
        margin-right: 5%;
        font-size: 1.6vw;
    }
    .Driver1{
        margin-top: -8%;
        margin-bottom: 2.5%;
    }
    .Nume{
        font-size: 2.7vw;
        margin-top: 1.2%;
    }
    .desc{
        margin-left: 0px;
    }
    .Info{
        font-size: 1.3vw;
        margin-left: 5%;
        margin-top: 10%;
    }
    .Number{
        text-align: right;
        font-size: 1vw;
        margin-top: -5.5%;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1450px ) {
    .tbody{
        margin-right: 8%;
        margin-left: 10%;
    }
    h2{
        font-size: 2.32pc;
    }
    .Sigla{
        width: 70%;
        margin-top: 13%;
    }
    .Driver1, .Driver2{
        text-align: right;
        margin-right: 5%;
        font-size: 1.65vw;
    }
    .Driver1{
        margin-top: -7%;
        margin-bottom: 2.5%;
    }
    .Nume{
        font-size: 2.7vw;
        margin-top: 1.2%;
    }
    .desc{
        margin-left: 0px;
    }
    .Info{
        font-size: 1.3vw;
        margin-left: 5%;
        margin-top: 6%;
    }
    .Number{
        text-align: right;
        font-size: 1.3vw;
        margin-top: -5.9%;
    }
}


.LogB{
    margin-left: 28%;
    background-color: rgba(119, 119, 119, 0);
    color: white;
    font-family: Formula1;
    border: 0px solid black;
    font-size: 1.3vw;
    text-shadow: 0 0 3px red; 
    padding: 20px 20px 20px 20px;
    transition: all .5s ease-in-out; 
}
.LogA{
    color: #ffffff;
    text-decoration: none;}
.LogB:hover{
    transform: scale(1.50);
    text-decoration: underline;
    text-decoration-color: rgb(139, 139, 139);

}