<!DOCTYPE html>
<html lang="ro">
<style>
    .image{
    margin-top: 11%;
    margin-left: 28%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula1</title>
    <link rel="stylesheet" href="/static/Css/Home.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <img class="image" src="./static/imagini/404.jpg" alt="444">
</body>
</html>

